@model List<MyStor.Core.Domain.Products.Product>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>@item.ProductId</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
        }
    </tr>
</table>

