@model MyStor.Core.Domain.Payments.VerifyPaymentRsult

@{
    ViewData["Title"] = "Peyment is confirmed";
}

<div class="container">
    <h2>Peyment is confirmed</h2>
    <p>Tracking code @Model.transId</p>
</div>